# Environments
.env
.venv
venv/
env/

# Build
.version


# DB
db.sqlite3

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

# celery
celerybeat.pid

# media files
media-files/

